---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "About",
	description: "I'm a starter theme for Astro.build",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			Hello, I'm Ryan Nguyen, a software engineer with a two-year track record. I commenced my
			professional journey at AWS, delving deep into the realm of cloud computing. I hold a degree
			from UCLA and currently serve as a full-stack software engineer at Generali. My overarching
			goal is to innovate and continually expand my expertise. I'm always open to connecting with
			fellow tech enthusiasts. Feel free to reach out for a coffee!
		</p>
		<p>
			Come and checkout my <a
				class="cactus-link inline-block"
				href="https://github.com/ngducn"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="github">Github</a
			> if you like me!
		</p>
	</div>
</PageLayout>
