---
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { getAllPosts, sortMDByDate } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const projects: Array<{ title: string; desc: string; href: string }> = [
	{
		title: "SOSMAP Dashboard",
		desc: "Custom built dashboard UI for sosmap.net, a COVID-19 supply/demand map",
		href: "https://github.com/ngducn/sosmap-dashboard",
	},
	{
		title: "Helpstarter",
		desc: "Fundraising web application built with ReactJS, NodeJS and Express",
		href: "https://github.com/ngducn/cds-covid-hackathon-fe",
	},
	{
		title: "Netflix Clone",
		desc: "Netflix clone using ReactJS and Express",
		href: "https://github.com/ngducn/cds-netflix-clone",
	},
];
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Hello! I'm Ryan</h1>
		<p class="mb-4">
			Software Engineer | AWS Alumnus | UCLA Graduate | Full-Stack Developer at Generali
		</p>
		<p class="mb-4">
			Passionate about innovation, problem-solving, and creating awesome software solutions.
		</p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Projects</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				projects.map(({ href, title, desc }) => (
					<li>
						<a
							href={href}
							target="_blank"
							rel="noopener noreferrer"
							class="cactus-link inline-block"
						>
							{title}
						</a>:
						<p class="inline-block sm:mt-2">{desc}</p>
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
